h1{ color: red; }
.center_block{
	position: relative;
	width: 300px;
	margin: auto;
}
.code_css{
	color: red; 
	padding: 10px 30px; 
	font-size: 18px; 
	text-decoration: none; 
	font-weight: 600; 
	background: black; 
	margin-top: 10px;
}